<nav class="navbar">
  <% if(!currentUser) {%>
  <a href="/home" class="logo"
    ><i class="logo-icon fas fa-brain"></i>Questiva</a
  >
  <%}%> <% if(currentUser) {%>
  <a href="/user" class="logo"
    ><i class="logo-icon fas fa-brain"></i>Questiva</a
  >
  <%}%>
  <div class="nav-links">
    <% if(!currentUser) {%>
    <a href="/home">Home</a>
    <%}%> <% if(currentUser) {%>
    <a href="/user">Home</a>
    <%}%>
    <!-- <a href="#">Features</a> -->
    <!-- <a href="#">About</a> -->
    <!-- <a href="#">Contact</a> -->
    <% if(!currentUser) {%>
    <a href="/signup">SignUp</a>
    <a href="/login">Login</a>
    <% } %> <% if(currentUser) {%>
    <a href="/logout">Logout</a>
    <% } %>
  </div>
  <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
</nav>
