<% layout('layouts/boilerplate') %>

    <div>
      <% if (typeof mcqs !== "undefined" && mcqs.length) { %>
      <div class="mcq-list">
        <% mcqs.forEach(function(mcq, idx) { %>
        <div class="mcq">
          <h4>Q<%= idx + 1 %>: <%= mcq.question %></h4>
          <ul>
            <% mcq.options.forEach(function(opt, i) { const letter =
            String.fromCharCode(65 + i); /* "A", "B", "C", "D" */ %>
            <li><%= opt %></li>
            <% }); %>
          </ul>
          <div style="color: blue">Correct Answer: <%= mcq.correct %></div>
        </div>
        <hr />
        <% }); %>
      </div>
      <% } %>
    </div>
