<% layout("layouts/boilerplate.ejs") %>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger alert-dismissible fade show mt-3 text-center w-50" role="alert">
      <h5 class="alert-heading m-0"><%= message %></h5>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>