<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/index.css">
  <div class="chat-container">
    <div class="chat-header">
      <h1>Welcome to Questiva</h1>
      <p>Upload your text/Pdf file to generate MCQs</p>
    </div>
    <div class="chat-body">
      <form action="/generate" method="POST" enctype="multipart/form-data" onsubmit="return validateFileSize();">
        <div class="upload-prompt"><i class="fas fa-upload"></i> Upload a text/pdf/doc file to generate MCQs</div>
        <div class="drop-area" id="drop-area" ondragover="event.preventDefault(); this.classList.add('dragover');"
          ondragleave="this.classList.remove('dragover');" onclick="document.getElementById('file-upload').click();"
          ondrop="handleFileDrop(event)">
          <p>Drag and drop your file here or click to select</p>
        </div>
        <input type="file" id="file-upload" name="file" style="display: none;" onchange="handleFileSelect()" />
        <div class="button-container">
          <label for="file-upload" class="upload-btn">Choose File</label>
          <label for="num_questions">How many questions do you want?</label>
          <input type="number" name="num_questions" min="1" max="30" required>
          <button type="submit" class="submit-btn" id="submit-btn" disabled>Generate MCQs</button>
        </div>
      </form>
    </div>
  </div>
  <div id="question-container" style="display: none;">
    <p id="question"></p>
    <button id="next-button">Next</button>
</div>
